@namespace xul 'http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul';
:root {
/* Browser area before a page starts loading */
  --sweet-browser-before-load-background: #212337;
/* Toolbars */
  --sweet-toolbar-background: #212337;
  --sweet-toolbar-color: #c8d3f5;
  --sweet-toolbar-border-color: #0c0e15;
  --sweet-inactive-toolbar-background: #212337;
  --sweet-inactive-toolbar-border-color: #202020;
/* Sidebar */
  --sweet-sidebar-background: #1e2030;
  --sweet-inactive-sidebar-background: #1e2030;
/* Popups */
  --sweet-menu-background: #212337;
  --sweet-menu-border-color: #0c0e15;
  --sweet-popover-background: #212337;
  --sweet-popover-border-color: #0c0e15;
  --sweet-popover-shadow: 0 1px 2px rgba(0,0,0,0.3);
  --sweet-popover-button-hover-background: #252a3f;
  --sweet-popover-separator-color: rgba(0,0,0,0.1);
/* Header bar */
  --sweet-headerbar-background: #191b28;
  --sweet-headerbar-border-color: #070707;
  --sweet-headerbar-box-shadow: inset 0 1px rgba(238,238,236,0.07);
  --sweet-inactive-headerbar-background: linear-gradient(#212337, #212337);
  --sweet-inactive-headerbar-border-color: #202020;
  --sweet-inactive-headerbar-box-shadow: inset 0 1px rgba(238,238,236,0.07);
/* Buttons */
  --sweet-button-background: linear-gradient(to top, #1b1d2c 2px, #1b1d2c);
  --sweet-button-border-color: #0c0e15;
  --sweet-button-border-accent-color: #070707;
  --sweet-button-box-shadow: inset 0 1px rgba(255,255,255,0.02), 0 1px 2px rgba(0,0,0,0.07);
  --sweet-button-hover-background: linear-gradient(to top, #252a3f, #252a3f 1px);
  --sweet-button-active-background: #2f334d;
  --sweet-button-active-border-color: rgba(18,21,35,0.667);
  --sweet-button-active-border-accent-color: #000;
  --sweet-button-active-box-shadow: inset 0 1px rgba(255,255,255,0);
  --sweet-button-disabled-background: #252a3f;
  --sweet-button-disabled-border-color: #212337;
  --sweet-button-disabled-box-shadow: inset 0 1px rgba(255,255,255,0);
  --sweet-inactive-button-background: linear-gradient(#212337, #212337);
  --sweet-inactive-button-border-color: #212337;
  --sweet-inactive-button-box-shadow: inset 0 1px rgba(255,255,255,0);
  --sweet-button-suggested-action-background: linear-gradient(to top, #654ea3 2px, #eaafc8);
  --sweet-button-suggested-action-border-color: #654ea3;
  --sweet-button-suggested-action-border-accent-color: #092444;
  --sweet-button-suggested-action-box-shadow: inset 0 1px rgba(255,255,255,0.02), 0 1px 2px rgba(0,0,0,0.07);
  --sweet-button-suggested-action-hover-background: linear-gradient(to top, rgba(101,78,163,0.925), rgba(234,175,200,0.925) 1px);
  --sweet-button-suggested-action-active-background: #654ea3;
  --sweet-button-suggested-action-active-border-color: #654ea3;
  --sweet-button-suggested-action-active-box-shadow: inset 0 1px rgba(255,255,255,0);
  --sweet-button-destructive-action-background: linear-gradient(to top, #ff416c 2px, #ff4b2b);
  --sweet-button-destructive-action-border-color: #ff757f;
  --sweet-button-destructive-action-border-accent-color: #570b0e;
  --sweet-button-destructive-action-box-shadow: inset 0 1px rgba(255,255,255,0.02), 0 1px 2px rgba(0,0,0,0.07);
  --sweet-button-destructive-action-hover-background: linear-gradient(to top, rgba(255,65,108,0.925), rgba(255,75,43,0.925) 1px);
  --sweet-button-destructive-action-active-background: #ff757f;
  --sweet-button-destructive-action-active-border-color: #ff757f;
  --sweet-button-destructive-action-active-box-shadow: inset 0 1px rgba(255,255,255,0);
/* URL bar */
  --sweet-urlbar-background: #212337;
  --sweet-urlbar-border-color: #0c0e15;
  --sweet-urlbar-box-shadow: inset 0 0 0 1px rgba(21,83,158,0);
  --sweet-urlbar-color: #c8d3f5;
  --sweet-inactive-urlbar-background: linear-gradient(#252a3f, #252a3f);
  --sweet-inactive-urlbar-border-color: #191a2a;
  --sweet-inactive-urlbar-box-shadow: none;
  --sweet-inactive-urlbar-color: #a9b8e8;
  --sweet-focused-urlbar-border-color: #82aaff;
  --sweet-private-urlbar-background: #25003e;
/* Tabs */
  --sweet-tabbar-tab-color: #828bb8;
  --sweet-tabbar-tab-hover-background: rgba(130,139,184,0.125);
  --sweet-tabbar-tab-hover-border-bottom-color: #0c0e15;
  --sweet-tabbar-tab-hover-color: #828bb8;
  --sweet-tabbar-tab-active-background: #222436;
  --sweet-tabbar-tab-active-border-bottom: linear-gradient(to right, #4976eb, #82aaff, #50c4fa, #86e1fc, #77e0c6, #4fd6be) left bottom #222436 no-repeat;
  --sweet-tabbar-tab-active-color: #82aaff;
  --sweet-tabbar-tab-active-hover-background: #212337;
  --sweet-inactive-tabbar-tab-color: #828bb8;
  --sweet-inactive-tabbar-tab-active-background: #212337;
  --sweet-inactive-tabbar-tab-active-border-bottom-color: #82aaff;
  --sweet-inactive-tabbar-tab-active-color: #828bb8;
}
@import 'https://raw.githubusercontent.com/EliverLara/firefox-sweet-theme/master/theme/parts/buttons-fixes.css';
:root:not([uidensity=compact]) #back-button {
  border-radius: var(--sweet-toolbarbutton-border-radius) !important;
}
:root:not([uidensity=compact]) #back-button > .toolbarbutton-icon {
  padding: var(--sweet-toolbarbutton-inner-padding) !important;
  width: calc(2 * v(toolbarbutton-inner-padding) + 16px) !important;
  height: calc(2 * v(toolbarbutton-inner-padding) + 16px) !important;
  border: unset !important;
  border-radius: var(--sweet-toolbarbutton-border-radius) !important;
  background-size: none !important;
}
:root:not([uidensity=compact]) #back-button:not([disabled]):not([open]):hover > .toolbarbutton-icon {
  background-size: unset !important;
}
:root:not([uidensity=compact]) #back-button[open] > .toolbarbutton-icon,
:root:not([uidensity=compact]) #back-button:hover:active > .toolbarbutton-icon {
  background-color: var(--sweet-toolbarbutton-active-background) !important;
}
#nav-bar {
  --toolbarbutton-active-background: transparent !important;
  --toolbarbutton-hover-background: transparent !important;
}
:root[customizing] #nav-bar > hbox toolbaritem toolbarbutton image:not(#hack) {
  opacity: 1 !important;
}
:root:-moz-window-inactive[customizing] #nav-bar #stop-reload-button toolbarbutton,
:root:-moz-window-inactive[customizing] #nav-bar #edit-controls toolbarbutton {
  background-image: var(--sweet-inactive-button-background);
  box-shadow: var(--sweet-inactive-button-box-shadow);
}
:root:-moz-window-inactive[customizing] #nav-bar #stop-reload-button image.toolbarbutton-icon,
:root:-moz-window-inactive[customizing] #nav-bar #edit-controls image.toolbarbutton-icon {
  opacity: 0.7 !important;
}
:root[customizing] #nav-bar > toolbarbutton[disabled]:not(#hack),
:root[customizing] #nav-bar > toolbaritem > toolbarbutton[disabled]:not(#hack) {
  opacity: 0.5 !important;
}
:root[customizing] #nav-bar toolbarbutton:not(#urlbar-zoom-button)[disabled] image {
  fill-opacity: var(--sweet-toolbarbutton-icon-fill-opacity) !important;
}
#nav-bar toolbarbutton.bookmark-item {
  width: auto !important;
}
#nav-bar toolbarbutton.bookmark-item .toolbarbutton-icon {
  margin-left: 6px !important;
}
#nav-bar toolbarbutton.bookmark-item .toolbarbutton-text {
  padding-right: 6px !important;
}
#PanelUI-button {
  margin: 0 !important;
  border: 0 !important;
  padding-inline-start: 0 !important;
}
#library-animatable-box {
  --library-button-height: 46px !important;
  --library-icon-x: 1716px !important;
}
#library-button[animate] > .toolbarbutton-icon {
  fill: transparent !important;
}
.close-icon:not(.tab-close-button) image {
  margin: 6px !important;
  background-size: 16px !important;
}
#appMenu-popup .panel-banner-item[notificationid='update-restart']::after {
  display: none !important;
}
.identity-popup-preferences-button:not(#hack) {
  list-style-image: url("chrome://browser/skin/settings.svg") !important;
}
#tracking-protection-preferences-button > .toolbarbutton-text {
  padding-inline-end: 0 !important;
}
.findbar-container .findbar-find-next image,
.findbar-container .findbar-find-previous image {
  opacity: 1 !important;
  margin: 6px !important;
}
.findbar-container toolbarbutton:focus {
  outline: 0 !important;
}
#sidebar-header {
  font-size: 1em !important;
}
#sidebar-switcher-arrow {
  opacity: 1 !important;
}
#viewButton {
  margin: 0 !important;
  margin-inline-start: 6px !important;
}
menulist {
  -moz-appearance: none !important;
}
expander-down image,
expander-up image {
  margin: 6px !important;
}
#nav-bar .toolbaritem-combined-buttons separator {
  display: none !important;
}
#appMenu-popup .toolbaritem-combined-buttons toolbarseparator {
  border: 0 !important;
}
#nav-bar toolbarbutton:not(#urlbar-zoom-button):not(.subviewbutton),
.subviewbutton.panel-subview-footer,
.panel-footer button,
#downloadsHistory,
#downloadsPanel-mainView .download-state .downloadButton,
#overflowMenu-customize-button,
#appMenu-popup .panel-banner-item,
#appMenu-popup .toolbaritem-combined-buttons toolbarbutton:not(#appMenu-fxa-label),
.subviewbutton-back,
#context-navigation menuitem,
.identity-popup-preferences-button:not(#hack),
.findbar-container toolbarbutton,
#sidebar-switcher-target,
#viewButton,
.close-icon:not(.tab-close-button),
#TabsToolbar .toolbarbutton-1,
.menulist-label-box,
.expander-down,
.expander-up {
  min-width: 30px !important;
  min-height: 30px !important;
  border-bottom-color: var(--sweet-button-border-accent-color) !important;
  max-height: 30px !important;
  height: 30px !important;
  background: var(--sweet-button-background) !important;
  background-size: var(--sweet-button-box-shadow) !important;
  color: var(--sweet-toolbar-color) !important;
  border-radius: 5px !important;
  border: 1px solid var(--sweet-button-border-color) !important;
  -moz-appearance: none !important;
  padding: 0 2px !important;
}
#nav-bar toolbarbutton:not(#urlbar-zoom-button):not(.subviewbutton) {
  margin: 0 2px !important;
}
#TabsToolbar .toolbarbutton-1 {
  margin: 1px 3px 2px !important;
}
.subviewbutton.panel-subview-footer,
.panel-footer button,
#downloadsHistory,
#overflowMenu-customize-button,
#appMenu-popup .panel-banner-item,
#appMenu-zoomReset-button:not(#appMenu-fxa-label):not(#hack),
#tracking-protection-preferences-button:not(#hack),
.findbar-container toolbarbutton.findbar-button {
  text-align: center !important;
  padding: 2px 16px !important;
}
.subviewbutton.panel-subview-footer label {
  text-align: center !important;
}
.menulist-label-box,
#sidebar-switcher-target,
#viewButton {
  position: relative;
  padding: 2px 16px !important;
}
.menulist-label-box:after,
#sidebar-switcher-target:after,
#viewButton:after {
/* Arrow position */
  position: absolute !important;
  top: 8px !important;
  right: 8px !important;
  content: '';
}
#sidebar-switcher-arrow,
#viewButton .button-menu-dropmarker /* Arrow position,
type b */ {
  transform: translate(6px, 0);
}
#nav-bar toolbarbutton:not(#urlbar-zoom-button):not(.subviewbutton):not([open]):not([disabled]):hover,
.subviewbutton.panel-subview-footer:hover,
.panel-footer button:hover,
#downloadsHistory:hover,
#downloadsPanel-mainView .download-state .downloadButton:hover,
#overflowMenu-customize-button:hover,
#appMenu-popup .panel-banner-item:hover,
.subviewbutton-back:hover,
#appMenu-popup .toolbaritem-combined-buttons toolbarbutton:not(#appMenu-fxa-label):not([disabled]):hover,
#context-navigation menuitem:not([disabled]):hover,
.identity-popup-preferences-button:not(#hack):hover,
.findbar-container toolbarbutton:hover,
.findbar-closebutton .toolbarbutton-icon:hover,
#sidebar-switcher-target:hover,
#viewButton:hover,
.close-icon:not(.tab-close-button):hover,
#TabsToolbar .toolbarbutton-1:hover,
menulist:hover .menulist-label-box,
.expander-down:hover,
.expander-up:hover {
  outline: 0 !important;
  background: var(--sweet-button-hover-background) !important;
}
#nav-bar toolbarbutton:not(#urlbar-zoom-button):not([disabled]):not(#hack):active,
#nav-bar toolbarbutton:not(#urlbar-zoom-button):not([disabled])[open],
.subviewbutton.panel-subview-footer:active,
.panel-footer button:active,
#downloadsHistory:active,
#downloadsPanel-mainView .download-state .downloadButton:active,
#overflowMenu-customize-button:active,
#appMenu-popup .panel-banner-item:active,
.subviewbutton-back:not(#hack):active,
#appMenu-popup .toolbaritem-combined-buttons toolbarbutton:not([disabled]):not(#appMenu-fxa-label):active,
#context-navigation menuitem:active:not([disabled]),
.identity-popup-preferences-button:not(#hack):active,
.findbar-container toolbarbutton[checked],
.findbar-container toolbarbutton:active,
#sidebar-switcher-target:active,
#sidebar-switcher-target.active,
#viewButton[open],
.close-icon:not(.tab-close-button):active,
#TabsToolbar .toolbarbutton-1:active,
#TabsToolbar .toolbarbutton-1[open],
menulist[open] .menulist-label-box,
.expander-down:active,
.expander-up:active {
  border-color: var(--sweet-button-active-border-color) !important;
  border-top-color: var(--sweet-button-active-border-accent-color) !important;
  border-bottom-color: var(--sweet-button-active-border-color) !important;
  background: var(--sweet-button-active-background) !important;
  background-size: var(--sweet-button-active-box-shadow) !important;
}
#nav-bar toolbarbutton:not(#urlbar-zoom-button)[disabled],
#appMenu-popup .toolbaritem-combined-buttons toolbarbutton[disabled],
#context-navigation menuitem[disabled] {
  border-color: var(--sweet-button-disabled-border-color) !important;
  background: var(--sweet-button-disabled-background) !important;
  background-size: var(--sweet-button-disabled-box-shadow) !important;
  opacity: 1 !important;
}
#nav-bar toolbarbutton:not(#urlbar-zoom-button)[disabled] image,
#appMenu-popup .toolbaritem-combined-buttons toolbarbutton[disabled] image,
#context-navigation menuitem[disabled] image {
  opacity: 0.4 !important;
}
#nav-bar toolbarbutton:not(#urlbar-zoom-button)[disabled]:hover,
#appMenu-popup .toolbaritem-combined-buttons toolbarbutton[disabled]:hover {
  background: var(--sweet-button-disabled-background) !important;
}
#nav-bar toolbarbutton:not(#urlbar-zoom-button):not(.subviewbutton):-moz-window-inactive,
.findbar-container toolbarbutton:-moz-window-inactive,
#sidebar-switcher-target:-moz-window-inactive,
#viewButton:-moz-window-inactive {
  border-color: var(--sweet-inactive-button-border-color) !important;
  background: var(--sweet-inactive-button-background) !important;
  background-size: var(--sweet-inactive-button-box-shadow) !important;
}
.subviewbutton-back:not(#hack),
.close-icon:not(.tab-close-button),
#TabsToolbar .toolbarbutton-1 {
  border-color: transparent !important;
  border-radius: 5px !important;
  background: transparent !important;
  background-size: none !important;
}
.subviewbutton-back:not(#hack):not(:active):hover,
.close-icon:not(.tab-close-button):not(:active):hover,
#TabsToolbar .toolbarbutton-1:not(:active):not([open]):hover {
  border-bottom-color: var(--sweet-button-border-accent-color) !important;
  border-color: var(--sweet-button-border-color) !important;
  background-size: var(--sweet-button-box-shadow) !important;
}
#downloadsPanel-mainView .download-state .downloadButton {
  border-radius: 100% !important;
}
#nav-bar .toolbaritem-combined-buttons toolbarbutton:not(:last-of-type):not(#hack),
#nav-bar #back-button:not(#hack),
.subviewbutton.panel-subview-footer:not(:only-of-type):not(:last-of-type),
.panel-footer button:not(:only-of-type):not(:last-of-type),
#appMenu-popup .toolbaritem-combined-buttons toolbarbutton:not(:last-of-type):not(#appMenu-zoomEnlarge-button),
#context-navigation menuitem:not(:last-of-type),
.findbar-container toolbarbutton.findbar-find-previous {
  border-right-width: 0 !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  margin-right: 0 !important;
}
#nav-bar .toolbaritem-combined-buttons toolbarbutton:not(:first-of-type):not(#hack),
#nav-bar #forward-button:not(#hack),
.subviewbutton.panel-subview-footer:not(:only-of-type):not(:first-of-type),
.panel-footer button:not(:only-of-type):not(:first-of-type),
#appMenu-popup .toolbaritem-combined-buttons toolbarbutton:not(:first-of-type):not(#appMenu-fullscreen-button),
#context-navigation menuitem:not(:first-of-type),
.findbar-container toolbarbutton.findbar-find-previous,
.findbar-container toolbarbutton.findbar-find-next {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  margin-left: 0 !important;
}
#nav-bar .toolbaritem-combined-buttons {
  max-width: 0 !important;
}
#appMenu-popup .panel-banner-item[notificationid='update-restart'],
button.popup-notification-primary-button,
#editBookmarkPanelDoneButton {
  border-color: var(--sweet-button-suggested-action-border-color) !important;
  border-bottom-color: var(--sweet-button-suggested-action-border-accent-color) !important;
  text-shadow: 0 -1px rgba(0,0,0,0.559) !important;
  background: var(--sweet-button-suggested-action-background) !important;
  background-size: var(--sweet-button-suggested-action-box-shadow) !important;
  color: #fff !important;
}
#appMenu-popup .panel-banner-item[notificationid='update-restart']:hover,
button.popup-notification-primary-button.popup-notification-button:hover,
#editBookmarkPanelDoneButton:hover {
  background: var(--sweet-button-suggested-action-hover-background) !important;
}
#appMenu-popup .panel-banner-item[notificationid='update-restart']:active,
button.popup-notification-primary-button.popup-notification-button:active,
#editBookmarkPanelDoneButton:active {
  text-shadow: none !important;
  border-color: var(--sweet-button-suggested-action-active-border-color) !important;
  background: var(--sweet-button-suggested-action-active-background) !important;
  background-size: var(--sweet-button-suggested-action-active-box-shadow) !important;
}
#editBookmarkPanelRemoveButton {
  border-bottom-color: var(--sweet-button-destructive-action-border-accent-color) !important;
  text-shadow: 0 -1px rgba(0,0,0,0.558) !important;
  border-color: var(--sweet-button-destructive-action-border-color) !important;
  background: var(--sweet-button-destructive-action-background) !important;
  background-size: var(--sweet-button-destructive-action-box-shadow) !important;
  color: #fff !important;
}
#editBookmarkPanelRemoveButton:hover {
  background: var(--sweet-button-destructive-action-hover-background) !important;
}
#editBookmarkPanelRemoveButton:active {
  border-color: var(--sweet-button-destructive-action-active-border-color) !important;
  background: var(--sweet-button-destructive-action-active-background) !important;
  background-size: var(--sweet-button-destructive-action-active-box-shadow) !important;
}
#fxa-toolbar-menu-button .toolbarbutton-badge-stack {
  margin: 0 !important;
  padding: 0 !important;
}
#fxa-avatar-image {
  margin: 0 !important;
  padding: 0 !important;
  width: 24px !important;
  height: 24px !important;
}
#urlbar,
#searchbar,
#search-box,
.findbar-textbox {
  box-sizing: border-box;
  max-height: 34px !important;
  height: 34px !important;
  margin: 0 !important;
  padding: 6px 8px !important;
  color: var(--sweet-urlbar-color) !important;
  border-color: var(--sweet-urlbar-border-color) !important;
  background-color: var(--sweet-urlbar-background) !important;
  border: 1px solid !important;
  border-radius: 5px !important;
  background-size: var(--sweet-urlbar-box-shadow) !important;
  -moz-appearance: none !important;
}
#urlbar[focused],
#searchbar:focus-within,
#search-box[focused],
.findbar-textbox[focused],
.findbar-textbox:focus {
  outline: 2px solid var(--sweet-focused-urlbar-border-color) !important;
  outline-offset: -2px;
  -moz-outline-radius: 5px;
}
#urlbar:-moz-window-inactive,
#searchbar:-moz-window-inactive,
#search-box:-moz-window-inactive,
.findbar-textbox:-moz-window-inactive {
  background-size: var(--sweet-inactive-urlbar-box-shadow) !important;
  color: var(--sweet-inactive-urlbar-color) !important;
  border-color: var(--sweet-inactive-urlbar-border-color) !important;
  background-color: var(--sweet-inactive-urlbar-background) !important;
}
.findbar-textbox {
  border-right-width: 0 !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
.findbar-textbox[focused],
.findbar-textbox:focus {
  -moz-outline-radius: 5px 0 0 5px !important;
}
#urlbar,
#searchbar {
  margin: 0 3px !important;
  padding: 0 !important;
}
.searchbar-textbox {
  min-height: auto !important;
  margin: 0 !important;
  padding: 0 !important;
  border: 0 !important;
}
#searchbar > .searchbar-textbox[focused] .searchbar-search-button:not(#hack) {
  margin: 0 !important;
}
#navigator-toolbox {
  border: 0 !important;
  background: none !important;
}
#nav-bar,
#PersonalToolbar,
#toolbar-menubar,
#TabsToolbar,
findbar {
  border: 0 !important;
  border-bottom: 1px solid var(--sweet-toolbar-border-color) !important;
  background: var(--sweet-toolbar-background) !important;
}
#nav-bar:-moz-window-inactive,
#PersonalToolbar:-moz-window-inactive,
#toolbar-menubar:-moz-window-inactive,
#TabsToolbar:-moz-window-inactive,
findbar:-moz-window-inactive {
  border-bottom: 1px solid var(--sweet-inactive-toolbar-border-color) !important;
  background: var(--sweet-inactive-toolbar-background) !important;
}
#navigator-toolbox:-moz-window-inactive label,
#navigator-toolbox:-moz-window-inactive image,
#downloads-indicator-anchor:-moz-window-inactive,
findbar:-moz-window-inactive image:not(#hack),
findbar:-moz-window-inactive label,
#viewButton:-moz-window-inactive dropmarker {
  opacity: 0.7 !important;
}
#toolbar-menubar:not([inactive=true]) {
  margin-bottom: 0 !important;
}
#PersonalToolbar {
  padding-top: 2px !important;
  height: 32px !important;
}
#TabsToolbar:not([collapsed="true"]) + #nav-bar {
  border-top: 0 !important;
}
#navigator-toolbox::after {
  border-top: 0 !important;
}
#navigator-toolbox #nav-bar,
#navigator-toolbox findbar {
  -moz-box-ordinal-group: 0;
}
#navigator-toolbox #PersonalToolbar {
  -moz-box-ordinal-group: 1;
}
#navigator-toolbox #titlebar {
  -moz-box-ordinal-group: 2;
}
#navigator-toolbox toolbar {
  -moz-box-ordinal-group: 10;
}
#navigator-toolbox #TabsToolbar {
  -moz-box-ordinal-group: 100;
}
#TabsToolbar[movingtab] {
  padding-bottom: 0 !important;
}
#TabsToolbar[movingtab] > .tabbrowser-tabs {
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}
#TabsToolbar[movingtab] + #nav-bar {
  margin-top: 0 !important;
}
toolbarspring {
  max-width: 10000px !important;
}
#urlbar {
  border: 0 !important;
  font-size: 1rem !important;
  font-family: 'Inter v' !important;
}
#urlbar[focused] .urlbar-textbox-container {
  margin: -1px !important;
}
#searchbar > .searchbar-textbox[focused] .search-go-button {
  margin-right: -1px !important;
}
#searchbar > .searchbar-textbox[focused] .search-serach-button {
  margin-left: -1px !important;
}
.urlbar-icon:hover,
.urlbar-icon-wrapper:hover,
.searchbar-search-button:hover,
.urlbar-icon[open],
.urlbar-icon-wrapper[open],
.searchbar-search-button[open],
.urlbar-icon:hover:active,
.urlbar-icon-wrapper:hover:active,
.searchbar-search-button:hover:active,
.urlbar-icon:hover .searchbar-search-icon,
.urlbar-icon-wrapper:hover .searchbar-search-icon,
.searchbar-search-button:hover .searchbar-search-icon,
.urlbar-icon[open] .searchbar-search-icon,
.urlbar-icon-wrapper[open] .searchbar-search-icon,
.searchbar-search-button[open] .searchbar-search-icon,
.urlbar-icon:hover:active .searchbar-search-icon,
.urlbar-icon-wrapper:hover:active .searchbar-search-icon,
.searchbar-search-button:hover:active .searchbar-search-icon {
  background: transparent !important;
  fill-opacity: 1 !important;
}
:root[privatebrowsingmode='temporary'] #nav-bar {
  overflow: hidden;
}
:root[privatebrowsingmode='temporary'] #nav-bar toolbarspring:first-of-type:before {
  background: url("./theme/icons/user-not-tracked.svg") no-repeat;
  background-size: contain;
  content: '';
  display: block;
  opacity: 0.3 !important;
  position: absolute;
  width: 64px !important;
  height: 64px !important;
  top: 0;
  transform: translate(15px, 0);
}
@media (prefers-color-scheme: dark) {
  :root[privatebrowsingmode='temporary'] #nav-bar toolbarspring:first-of-type:before {
    filter: invert(100%);
  }
}
#TabsToolbar .private-browsing-indicator {
  display: none !important;
}
#nav-bar {
  padding: 6px 3px !important;
}
:root[tabsintitlebar] #nav-bar {
  border-bottom: 1px solid var(--sweet-headerbar-border-color) !important;
  border: none !important;
  background: var(--sweet-headerbar-background) !important;
  background-size: var(--sweet-headerbar-box-shadow) !important;
}
:root[tabsintitlebar] #nav-bar:-moz-window-inactive {
  border-bottom-color: var(--sweet-inactive-headerbar-border-color) !important;
  background: var(--sweet-inactive-headerbar-background) !important;
  background-size: var(--sweet-inactive-headerbar-box-shadow) !important;
}
#main-window {
  -moz-appearance: -moz-window-titlebar !important;
}
:root[tabsintitlebar] .titlebar-buttonbox {
  margin-top: 15px;
}
:root[tabsintitlebar]:not([inFullscreen]):not([sizemode='maximized']) #nav-bar {
  border-radius: 7px 7px 0 0 !important;
/* Window buttons: at least 1 button */
/* Window buttons: at least 2 buttons */
/* Window buttons: 3 buttons */
}
@media (-moz-gtk-csd-minimize-button), (-moz-gtk-csd-maximize-button), (-moz-gtk-csd-close-button) {
  :root[tabsintitlebar]:not([inFullscreen]):not([sizemode='maximized']) #nav-bar {
    padding-right: 50px !important;
  }
}
@media (-moz-gtk-csd-minimize-button) and (-moz-gtk-csd-maximize-button), (-moz-gtk-csd-minimize-button) and (-moz-gtk-csd-close-button), (-moz-gtk-csd-maximize-button) and (-moz-gtk-csd-close-button) {
  :root[tabsintitlebar]:not([inFullscreen]):not([sizemode='maximized']) #nav-bar {
    padding-right: 90px !important;
  }
}
@media (-moz-gtk-csd-minimize-button) and (-moz-gtk-csd-maximize-button) and (-moz-gtk-csd-close-button) {
  :root[tabsintitlebar]:not([inFullscreen]):not([sizemode='maximized']) #nav-bar {
    padding-right: 130px !important;
  }
}
:root[tabsintitlebar][inFullscreen] #nav-bar {
  padding-right: 50px !important;
}
:root[tabsintitlebar] #titlebar .titlebar-buttonbox-container,
:root[tabsintitlebar] #titlebar-buttonbox-container,
:root[tabsintitlebar][inFullscreen] #window-controls {
  position: absolute !important;
  top: 0;
  right: 0;
  display: block !important;
  padding: 0 3px 0 4px;
  -moz-appearance: none !important;
}
:root[tabsintitlebar] #titlebar .titlebar-buttonbox {
  -moz-appearance: none !important;
}
:root[tabsintitlebar] #titlebar .titlebar-button,
:root[tabsintitlebar][inFullscreen] #window-controls toolbarbutton {
  margin: -8px -2px !important;
  padding: 0 2px !important;
  width: 30px !important;
  height: 30px !important;
  border-color: transparent !important;
  border-radius: 5px !important;
  border: 1px solid var(--sweet--button-border-color) !important;
}
:root[tabsintitlebar] #titlebar .titlebar-button .toolbarbutton-icon,
:root[tabsintitlebar][inFullscreen] #window-controls toolbarbutton .toolbarbutton-icon {
  width: 16px;
}
:root[tabsintitlebar] #titlebar:-moz-window-inactive .titlebar-button .toolbarbutton-icon,
:root[tabsintitlebar][inFullscreen] #window-controls:-moz-window-inactive toolbarbutton .toolbarbutton-icon {
  opacity: 0.5 !important;
}
:root[tabsintitlebar] #titlebar:not(:-moz-window-inactive) .titlebar-button:not([disabled]):hover,
:root[tabsintitlebar][inFullscreen] #window-controls:not(:-moz-window-inactive) toolbarbutton:not([disabled]):hover {
  border-color: var(--sweet--button-border-color) !important;
  border-bottom-color: var(--sweet--button-border-accent-color) !important;
  background-image: var(--sweet--button-hover-background);
  box-shadow: var(--sweet--button-box-shadow);
}
:root[tabsintitlebar] #titlebar:not(:-moz-window-inactive) .titlebar-button:not([disabled]):active,
:root[tabsintitlebar][inFullscreen] #window-controls:not(:-moz-window-inactive) toolbarbutton:not([disabled]):active {
  border-color: var(--sweet--button-active-border-color) !important;
  background: var(--sweet--button-active-background);
  box-shadow: var(--sweet--button-active-box-shadow);
}
:root[tabsintitlebar][inFullscreen] #window-controls #close-button,
:root[tabsintitlebar][inFullscreen] #window-controls #minimize-button {
  display: none;
}
@media (-moz-gtk-csd-reversed-placement) {
  :root[tabsintitlebar]:not([inFullscreen]) #nav-bar {
    padding-right: 3px !important;
  }
  :root[tabsintitlebar] #titlebar .titlebar-buttonbox-container {
    right: auto;
    left: 0;
    padding: 0 3px 0 4px;
  }
}
:root[tabsintitlebar] #TabsToolbar .titlebar-placeholder {
  display: none !important;
}
:root[tabsintitlebar] #toolbar-menubar:not([inactive=true]) {
  margin-bottom: 8px !important;
  height: 30px !important;
}
:root[tabsintitlebar] #titlebar {
  -moz-appearance: none !important;
}
:root[tabsintitlebar] #navigator-toolbox[movingtab] #TabsToolbar {
  padding-bottom: 0 !important;
}
:root[tabsintitlebar] #nav-bar *,
:root[tabsintitlebar] #titlebar .titlebar-button,
:root[tabsintitlebar][inFullscreen] #window-controls toolbarbutton {
  -moz-window-dragging: drag;
}
:root[tabsintitlebar] #nav-bar .urlbar-input-box,
:root[tabsintitlebar] #nav-bar .urlbar-input-box *,
#back-button,
#forward-button {
  -moz-window-dragging: no-drag !important;
}
:root[tabsintitlebar] #titlebar[style="margin-bottom: -1px;"] {
  margin-bottom: -38px !important;
}
:root[tabsintitlebar] #titlebar-content {
  position: absolute;
  top: 0 !important;
  display: block !important;
  height: 38px !important;
}
:root[tabsintitlebar] #titlebar-buttonbox {
  margin: 0 !important;
  padding: 0 !important;
  height: auto !important;
}
:root[tabsintitlebar] #titlebar-content .titlebar-button {
  padding: 0 7px !important;
}
#tabbrowser-tabs,
#tabbrowser-tabs arrowscrollbox {
  height: initial !important;
  min-height: initial !important;
}
tab > stack {
  height: 30px !important;
  min-height: 30px !important;
}
.tabbrowser-tab[first-tab]:not([pinned=true]) {
  margin-left: 8px !important;
}
.tabbrowser-tab[last-tab]:not([pinned=true]) {
  margin-right: 8px !important;
}
#TabsToolbar .toolbar-items {
  margin-bottom: -1px !important;
}
#TabsToolbar {
  --toolbarbutton-active-background: transparent !important;
  --toolbarbutton-hover-background: transparent !important;
  padding: 0 3px !important;
}
#TabsToolbar toolbarbutton {
  fill-opacity: 0.6 !important;
}
#TabsToolbar toolbarbutton:not([disabled]):hover,
#TabsToolbar toolbarbutton[open=true] {
  fill-opacity: 1 !important;
}
.arrowscrollbox-overflow-start-indicator,
.arrowscrollbox-overflow-end-indicator {
  display: none;
}
.tabbrowser-tab::after,
.tabbrowser-tab::before {
  border-color: transparent !important;
  border-image: none !important;
}
.tabbrowser-tab:not([pinned=true]) {
  margin: 0 4px !important;
}
tab {
  color: var(--sweet-tabbar-tab-color) !important;
  font-family: 'Inter V', inherit;
  font-weight: bold;
  font-size: 1em;
}
tab:hover {
  color: var(--sweet-tabbar-tab-hover-color) !important;
}
tab[selected] {
  color: var(--sweet-tabbar-tab-active-color) !important;
}
tab:-moz-window-inactive {
  color: var(--sweet-inactive-tabbar-tab-color) !important;
}
tab[selected]:-moz-window-inactive {
  color: var(--sweet-inactive-tabbar-tab-active-color) !important;
}
.tab-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -1px;
  min-width: 100% !important;
  padding: 0 10px !important;
}
.tab-icon-image,
.tab-icon-sound,
.tab-throbber,
.tab-throbber-fallback,
.tab-close-button {
  min-width: 16px;
}
.tab-label-container {
  min-width: 0 !important;
}
.tab-icon-sound[soundplaying='true'],
.tab-icon-sound[muted='true'],
.tab-icon-sound[activemedia-blocked='true'] {
  margin-left: auto !important;
}
.tabbrowser-tab:not([soundplaying]):not([muted]):not([activemedia-blocked]) .tab-close-button {
  margin-left: auto !important;
}
.tab-icon-sound {
  margin-right: 6px;
}
.tabbrowser-tab:not([class*='identity-color-']) .tab-throbber,
.tabbrowser-tab:not([class*='identity-color-']) .tab-throbber-fallback {
  margin-left: auto;
}
.tabbrowser-tab:not([busy]):not([class*='identity-color-']) .tab-icon-image {
  margin-left: auto;
}
.tabbrowser-tab .tab-label-container {
  margin-left: 0 !important;
}
.tabbrowser-tab:not([image]):not([busy]):not([progress]):not([class*='identity-color-']) .tab-label-container {
  margin-left: auto !important;
}
#tabbrowser-tabs[closebuttons="activetab"] .tabbrowser-tab:not([selected="true"]) .tab-throbber,
#tabbrowser-tabs[closebuttons="activetab"] .tabbrowser-tab:not([selected="true"]) .tab-throbber-fallback,
#tabbrowser-tabs[closebuttons="activetab"] .tabbrowser-tab:not([selected="true"]):not([busy]) .tab-icon-image,
#tabbrowser-tabs[closebuttons="activetab"] .tabbrowser-tab:not([selected="true"]):not([image]) .tab-label-container {
  margin-left: 0 !important;
}
:root {
  --sweet-fill-icon: #f00 !important;
}
.tab-close-button {
  -moz-appearance: none !important;
  border: 1px solid transparent;
  box-sizing: content-box; /* Avoid deformation on flexbox */
  border-radius: 5px;
  list-style-image: url("./theme/icons/window-close-symbolic-light.svg") !important;
  height: 16px;
  opacity: 0.3;
  padding: 2px;
  width: 16px;
}
@media (prefers-color-scheme: dark) {
  .tab-close-button {
    list-style-image: url("./theme/icons/window-close-symbolic-light.svg") !important;
  }
}
:root:-moz-window-inactive .tab-close-button:not(#hack) {
  opacity: 0.18 !important;
}
:root:not(:-moz-window-inactive) .tab-close-button:hover {
  background-image: var(--sweet-button-background);
  box-shadow: var(--sweet-button-box-shadow);
  border: 1px solid var(--sweet-button-border-color);
  border-bottom-color: var(--sweet-button-border-accent-color);
  opacity: 1;
}
:root:not(:-moz-window-inactive) .tab-close-button:active {
  background-image: var(--sweet-button-active-background) !important;
  box-shadow: var(--sweet-button-active-box-shadow) !important;
  border-color: var(--sweet-button-active-border-color) !important;
  border-bottom-color: var(--sweet-button-active-border-color) !important;
  border-top-color: var(--sweet-button-active-border-accent-color) !important;
}
.tab-close-button:active:not(:hover) {
  background-image: none !important;
  box-shadow: none !important;
}
.tab-throbber,
.tab-icon-image,
.tab-sharing-icon-overlay,
.tab-icon-sound,
.tab-close-button {
  margin-top: 0 !important;
}
.tab-line {
  display: none;
}
.tab-background[selected=true] {
  background: var(--sweet-tabbar-tab-active-border-bottom) !important;
  background-size: 100% 3px !important;
  border: 0 !important;
  border-image: none !important;
}
.tab-background[selected=true]:-moz-window-inactive {
  background-color: var(--sweet-inactive-tabbar-tab-active-background) !important;
  border-bottom-color: var(--sweet-inactive-tabbar-tab-active-border-bottom-color) !important;
}
:root:not(:-moz-window-inactive) .tabbrowser-tab:hover > .tab-stack > .tab-background[selected=true] {
/* Tab hover */
  background-color: var(--sweet-tabbar-tab-active-hover-background) !important;
}
.tabbrowser-tab:hover > .tab-stack > .tab-background:not([selected=true]),
#TabsToolbar[brighttext] > #tabbrowser-tabs > .tabbrowser-tab:hover > .tab-stack > .tab-background:not([selected=true]),
#TabsToolbar[brighttext] > #tabbrowser-tabs > .tabbrowser-tab:hover > .tab-stack > .tab-background > .tab-line:not([selected=true]) {
  background-color: transparent !important;
}
:root:not(:-moz-window-inactive) .tabbrowser-tab:hover > .tab-stack > .tab-background:not([selected=true]) {
  background-color: var(--sweet-tabbar-tab-hover-background) !important;
  border-image: none !important;
  border-bottom: 3px solid var(--sweet-tabbar-tab-hover-border-bottom-color) !important;
}
.tabbrowser-tab:not([style^='max-width']):not([pinned]),
.tabbrowser-tab[style^='max-width: 100px !important;']:not([pinned]) {
  max-width: 100% !important;
}
.tabbrowser-tab:not([style^='max-width']):not([pinned]):not([fadein]),
.tabbrowser-tab[style^='max-width: 100px !important;']:not([pinned]):not([fadein]) {
  max-width: 0.1px !important;
}
#TabsToolbar .titlebar-spacer {
/* Remove blank spaces on tabs start and end */
  display: none !important;
}
.tabbrowser-tab[usercontextid] > .tab-stack > .tab-background > .tab-bottom-line {
/* Remove container bottom line indicator */
  display: none;
}
.tabbrowser-tab[class*='identity-color-'] .tab-content::before {
/* Create new container tab indicator */
  content: '';
  display: block;
  background-image: var('#userContext-icons:--identity-icon');
  background: var(--identity-tab-color);
  -moz-context-properties: fill;
  fill: var(--identity-icon-color);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  min-width: 10px;
  height: 10px;
  margin-right: 5px;
  margin-left: auto !important;
  border-radius: 100%;
}
.tabbrowser-tab[class*='identity-color-'][pinned] .tab-content::before,
.tabbrowser-tab[class*='identity-color-'][image] .tab-content::before,
.tabbrowser-tab[class*='identity-color-'][busy] .tab-content::before,
.tabbrowser-tab[class*='identity-color-'][progress] .tab-content::before {
  right: -10px;
  top: -8px;
  position: relative;
  margin-right: -10px;
}
findbar {
  position: relative;
}
.findbar-container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: calc(100% - 42px) !important;
  padding: 6px !important;
}
.findbar-textbox {
  margin-left: 60px !important;
}
@media (max-width: 980px) {
  .findbar-textbox {
    margin-left: 0 !important;
  }
}
.findbar- .findbar-find-status:not(:-moz-only-whitespace),
.findbar- .found-matches[hidden] ~ .findbar-find-status,
.findbar- .found-matches {
  flex: 1;
  order: -1;
  padding: 7px 0 !important;
}
@media (max-width: 980px) {
  .findbar- .findbar-find-status:not(:-moz-only-whitespace),
  .findbar- .found-matches[hidden] ~ .findbar-find-status,
  .findbar- .found-matches {
    order: -1;
  }
}
.findbar-closebutton {
  margin: 6px 6px 6px 0 !important;
}
hbox[anonid='findbar-textbox-wrapper'] {
  display: flex !important;
  flex: 1;
}
.found-matches:not([hidden]) ~ .findbar-find-status {
  display: none;
}
#context-navigation {
  padding: 4px 8px 8px !important;
}
#context-navigation menuitem {
  --toolbarbutton-active-background: transparent !important;
  --toolbarbutton-hover-background: transparent !important;
}
#context-navigation > menuitem > .menu-iconic-left {
  margin: auto !important;
}
#contentAreaContextMenu menuitem image,
#contentAreaContextMenu menu image {
  visibility: hidden;
}
#contentAreaContextMenu menugroup menuitem image,
#contentAreaContextMenu .menu-right image {
  visibility: visible;
}
panelview vbox.panel-subview-body > toolbarbutton image {
  display: none;
}
panelview vbox.panel-subview-body > toolbarbutton label {
  padding-inline-start: 0 !important;
}
#appMenu-zoom-controls > spacer,
#appMenu-edit-controls > spacer {
  width: 12px !important;
}
#appMenu-popup .panel-banner-item:after {
  margin: 0 8px 0 0 !important;
  -moz-box-ordinal-group: 0;
}
#fxa-menu-avatar {
  display: none;
}
#pageAction-panel-addSearchEngine .toolbarbutton-badge-stack {
  display: none !important;
}
.alltabs-item[selected] {
  border-left: 3px solid var(--sweet-tabbar-tab-active-border-bottom-color) !important;
  background-size: none !important;
}
.alltabs-item > .all-tabs-secondary-button label {
  margin: 0 !important;
}
#downloadsPanel-mainView .download-state {
  display: flex;
  align-items: center;
  padding: 8px !important;
  border: 0 !important;
  border-radius: 5px !important;
}
#downloadsPanel-mainView .download-state:hover {
  border-color: var(--sweet-popover-button-hover-background) !important;
}
#downloadsPanel-mainView .download-state:last-child {
  margin-bottom: 8px !important;
}
#downloadsPanel-mainView .download-state .downloadButton .button-box {
  margin: 0 !important;
  padding: 0 !important;
}
#downloadsPanel-mainView .download-state toolbarseparator {
  display: none;
}
#downloadsPanel-mainView .downloadContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-inline-end: 0 !important;
}
#downloadsPanel-mainView .downloadMainArea {
  display: flex;
  flex: 1;
}
#downloadsPanel-mainView .downloadMainArea:hover {
  background: transparent !important;
}
#downloadsPanel-mainView .downloadTypeIcon {
  margin: 0 !important;
  margin-right: 6px !important;
}
#customization-panel-container {
  z-index: 10;
  margin-top: 10px !important;
  padding: 0 75px 25px !important;
}
#customization-panelWrapper > .panel-arrowbox {
  margin-bottom: -5px !important;
}
#confirmation-hint .panel-arrowcontent {
  border-color: var(--sweet-button-suggested-action-border-color) !important;
  background-color: var(--sweet-button-suggested-action-background) !important;
  fill: var(--sweet-button-suggested-action-border-color) !important;
  stroke: var(--sweet-button-suggested-action-border-color) !important;
}
#confirmation-hint-message {
  color: #fff !important;
}
menupopup {
  padding: 2px;
  border: 0 !important;
  background: none !important;
  -moz-appearance: none !important;
/* Context menu seperator */
/* Context menu */
}
menupopup menupopup {
  margin: -7px 0 0 -4px;
}
menupopup .popup-internal-box {
  padding: 4px 0;
  border: 1px solid var(--sweet-menu-border-color);
  border-radius: 5px;
  background: var(--sweet-menu-background);
  box-shadow: 0 1px 1px rgba(0,0,0,0.1) !important;
  color: var(--sweet-toolbar-color) !important;
}
menupopup menuseparator {
  -moz-appearance: none !important;
  border: none !important;
  border-color: var(--sweet-headerbar-background) !important;
}
menupopup menu,
menupopup menuitem {
  padding: 4px 12px !important;
  background: var(--sweet-toolbar-background) !important;
  color: var(--sweet-toolbar-color) !important;
  -moz-appearance: none !important;
}
menupopup menu:hover,
menupopup menuitem:hover {
  border-color: var(--sweet-popover-button-hover-background) !important;
}
panel[type=arrow] {
  max-height: 80vh !important;
  margin-top: 9px !important;
}
.panel-arrowcontent .panel-arrowcontent,
.panel-header,
.PanelUI-subView,
.panel-subview-body,
#widget-overflow-mainView,
panelview {
  background: transparent !important;
}
panel:not(.tooltip-xul-wrapper) .panel-arrowcontent {
  padding: 8px 12px !important;
  border: 1px solid !important;
  border-radius: 9px !important;
  background-size: var(--sweet-popover-shadow) !important;
  color: var(--sweet-toolbar-color) !important;
  border-color: var(--sweet-popover-border-color) !important;
  background-color: var(--sweet-popover-background) !important;
}
.panel-arrow {
  fill: var(--sweet-popover-background) !important;
  stroke: var(--sweet-popover-border-color) !important;
}
.panel-footer {
  display: flex;
  justify-content: flex-end;
  background-color: transparent !important;
}
.panel-footer toolbarseparator {
  display: none !important;
}
.panel-header {
  border-bottom: 0 !important;
}
.subviewbutton,
.subviewbutton .toolbarbutton-1 {
  border-radius: 3px !important;
  color: var(--sweet-toolbar-color) !important;
}
.subviewbutton[disabled],
.subviewbutton .toolbarbutton-1[disabled],
.subviewbutton[shortcut]:after {
  opacity: 0.5 !important;
}
.subviewbutton:not([disabled]):hover,
.toolbarbutton-1:not([disabled]):hover {
  background: var(--sweet-popover-button-hover-background) !important;
}
toolbarseparator,
toolbarseparator menuseparator {
  border-color: var(--sweet-popover-separator-color) !important;
}
toolbarseparator:not([orient='vertical']) {
  margin: 0 8px !important;
}
toolbarseparator[orient='vertical'] {
  margin: 0 3px !important;
}
#tabbrowser-tabpanels,
#tabbrowser-tabpanels[pendingpaint],
browser {
  border-color: var(--sweet-browser-before-load-background) !important;
}
toolbarbutton#alltabs-button {
  -moz-binding: url("scrollbars.xml#js");
}
#alltabs-button:-moz-window-inactive::before {
  opacity: 0.7 !important;
}
#alltabs-button:not(#hack) {
  position: relative;
  list-style-image: none !important;
}
#alltabs-button:not(#hack) .toolbarbutton-icon {
  display: none !important;
}
#alltabs-button:not(#hack) .toolbarbutton-badge-stack {
  position: absolute;
}
@media (prefers-color-scheme: dark) {
  #alltabs-button::before {
    filter: invert(100%) brightness(200%);
  }
}
#alltabs-button:not(#hack),
#alltabs-button::before {
  position: relative;
  top: 2px;
  content: url("./theme/icons/pan-down-symbolic.svg");
}
.toolbarbutton-icon {
  fill: var(--sweet-toolbar-color);
  fill-opacity: 1;
}
.PanelUI-subView .subviewbutton-nav::after {
  background: url("./theme/icons/pan-start-symbolic.svg");
  background-size: contain;
  content: '' !important;
  margin-top: -2px !important;
  width: 16px !important;
  height: 16px !important;
}
.subviewbutton-back {
  list-style-image: url("./theme/icons/pan-start-symbolic.svg") !important;
}
.menu-right {
  width: 16px !important;
  height: 16px !important;
  list-style-image: url("./theme/icons/pan-end-symbolic.svg") !important;
  -moz-appearance: none !important;
}
menu[disabled] > .menu-right {
  opacity: 0.3 !important;
}
@media (prefers-color-scheme: light) {
  menu:not([disabled]):hover > .menu-right,
  menu[open] > .menu-right {
    filter: invert(100%) brightness(200%);
  }
}
.expander-down > .button-box,
#sidebar-switcher-arrow,
#viewButton .button-menu-dropmarker {
  width: 16px !important;
  height: 16px !important;
  list-style-image: url("./theme/icons/pan-down-symbolic.svg") !important;
  -moz-appearance: none !important;
}
.menulist-label-box:after {
  content: url("./theme/icons/pan-down-symbolic.svg") !important;
}
.expander-up > .button-box {
  width: 16px !important;
  height: 16px !important;
  -moz-appearance: none !important;
  list-style-image: url("./theme/icons/pan-up-symbolic.svg") !important;
}
#urlbar[pageproxystate="invalid"] > #identity-box > #identity-icon,
.searchbar-search-icon,
#search-box .textbox-search-sign {
  list-style-image: url("./theme/icons/edit-find-symbolic.svg") !important;
  opacity: 0.7 !important;
}
#search-box .textbox-search-sign {
  width: 16px !important;
  margin: 2px 0 !important;
}
treechildren::-moz-tree-twisty {
  list-style-image: url("./theme/icons/pan-down-symbolic.svg") !important;
}
treechildren::-moz-tree-twisty(open) {
  list-style-image: url("./theme/icons/pan-end-symbolic.svg") !important;
}
treechildren::-moz-tree-twisty(selected,
focus) {
  list-style-image: url("./theme/icons/pan-down-symbolic-light.svg") !important;
}
treechildren::-moz-tree-twisty(selected,
focus,
open) {
  list-style-image: url("./theme/icons/pan-end-symbolic-light.svg") !important;
}
.sidebar-panel[lwt-sidebar-brighttext] .sidebar-placesTreechildren::-moz-tree-twisty {
  list-style-image: url("./theme/icons/pan-down-symbolic-light.svg") !important;
}
.sidebar-panel[lwt-sidebar-brighttext] .sidebar-placesTreechildren::-moz-tree-twisty(open) {
  list-style-image: url("./theme/icons/pan-end-symbolic-light.svg") !important;
}
.close-icon:not(.tab-close-button) {
  list-style-image: url("./theme/icons/_window-close-symbolic.svg") !important;
}
:root[tabsintitlebar] #titlebar .titlebar-buttonbox .titlebar-close .toolbarbutton-icon {
  list-style-image: url("./theme/icons/_window-close-symbolic.svg") !important;
}
:root[tabsintitlebar] #titlebar .titlebar-buttonbox .titlebar-max .toolbarbutton-icon,
:root[tabsintitlebar] #titlebar #titlebar-max .toolbarbutton-icon {
  list-style-image: url("./theme/icons/_window-maximize-symbolic.svg") !important;
}
:root[tabsintitlebar] #titlebar .titlebar-buttonbox .titlebar-min .toolbarbutton-icon,
:root[tabsintitlebar] #titlebar #titlebar-min .toolbarbutton-icon {
  list-style-image: url("./theme/icons/_window-minimize-symbolic.svg") !important;
}
:root[tabsintitlebar][inFullscreen] #window-controls #restore-button .toolbarbutton-icon {
  list-style-image: url("./theme/icons/view-restore-symbolic.svg") !important;
}
#privatebrowsing-button {
  list-style-image: url("./theme/icons/user-not-tracked.svg") !important;
}
#sidebar-button:-moz-locale-dir(ltr):not([positionend])  .toolbarbutton-icon,
#sidebar-button:-moz-locale-dir(rtl)[positionend]  .toolbarbutton-icon {
  list-style-image: url("./theme/icons/toggle-sidebar-symbolic.svg") !important;
}
#sidebar-button .toolbarbutton-icon {
  list-style-image: url("./theme/icons/toggle-right-sidebar-symbolic.svg") !important;
}
#nav-bar #back-button,
#context-back {
  list-style-image: url("./theme/icons/go-previous-symbolic.svg") !important;
}
#nav-bar #forward-button,
#context-forward {
  list-style-image: url("./theme/icons/go-next-symbolic.svg") !important;
}
#PanelUI-menu-button {
  list-style-image: url("./theme/icons/open-menu-symbolic.svg") !important;
}
#new-tab-button {
  list-style-image: url("./theme/icons/tab-new-symbolic.svg") !important;
}
#home-button {
  list-style-image: url("./theme/icons/user-home-symbolic.svg") !important;
}
#preferences-button {
  list-style-image: url("./theme/icons/preferences-system-symbolic.svg") !important;
}
#fullscreen-button,
#appMenu-fullscreen-button {
  list-style-image: url("./theme/icons/view-fullscreen-symbolic.svg") !important;
}
#zoom-out-button,
#appMenu-zoomReduce-button {
  list-style-image: url("./theme/icons/zoom-out-symbolic.svg") !important;
}
#zoom-in-button,
#appMenu-zoomEnlarge-button {
  list-style-image: url("./theme/icons/zoom-in-symbolic.svg") !important;
}
#developer-button {
  list-style-image: url("./theme/icons/applications-engineering-symbolic.svg") !important;
}
#email-link-button {
  list-style-image: url("./theme/icons/mail-unread-symbolic.svg") !important;
}
#print-button {
  list-style-image: url("./theme/icons/printer-symbolic.svg") !important;
}
#add-ons-button {
  list-style-image: url("./theme/icons/application-x-addon-symbolic.svg") !important;
}
#find-button {
  list-style-image: url("./theme/icons/edit-find-symbolic.svg") !important;
}
#new-window-button {
  list-style-image: url("./theme/icons/window-new-symbolic.svg") !important;
}
#history-panelmenu {
  list-style-image: url("./theme/icons/preferences-system-time-symbolic.svg") !important;
}
#alltabs-button {
  list-style-image: url("./theme/icons/pan-down-symbolic.svg") !important;
}
#cut-button,
#appMenu-cut-button {
  list-style-image: url("./theme/icons/edit-cut-symbolic.svg") !important;
}
#copy-button,
#appMenu-copy-button {
  list-style-image: url("./theme/icons/edit-copy-symbolic.svg") !important;
}
#paste-button,
#appMenu-paste-button {
  list-style-image: url("./theme/icons/edit-paste-symbolic.svg") !important;
}
#nav-bar-overflow-button {
  list-style-image: url("./theme/icons/view-more-horizontal-symbolic.svg") !important;
}
@media (prefers-color-scheme: dark) {
  .PanelUI-subView .subviewbutton-nav::after,
  .subviewbutton-back .toolbarbutton-icon,
  .menu-right,
  #urlbar[pageproxystate="invalid"] > #identity-box > #identity-icon,
  .searchbar-search-icon,
  #search-box .textbox-search-sign,
  .menulist-label-box:after,
  .expander-down image,
  .expander-up image,
  #sidebar-switcher-arrow,
  #viewButton .button-menu-dropmarker,
  .close-icon:not(.tab-close-button) image,
  :root[tabsintitlebar] #titlebar .titlebar-buttonbox .titlebar-close .toolbarbutton-icon,
  :root[tabsintitlebar] #titlebar #titlebar-close .toolbarbutton-icon,
  :root[tabsintitlebar] #titlebar .titlebar-buttonbox .titlebar-max .toolbarbutton-icon,
  :root[tabsintitlebar] #titlebar #titlebar-max .toolbarbutton-icon,
  :root[tabsintitlebar] #titlebar .titlebar-buttonbox .titlebar-min .toolbarbutton-icon,
  :root[tabsintitlebar] #titlebar #titlebar-min .toolbarbutton-icon,
  :root[tabsintitlebar][inFullscreen] #window-controls #restore-button .toolbarbutton-icon,
  #privatebrowsing-button .toolbarbutton-icon,
  #sidebar-button:-moz-locale-dir(ltr):not([positionend])  .toolbarbutton-icon,
  #sidebar-button:-moz-locale-dir(rtl)[positionend]  .toolbarbutton-icon,
  #sidebar-button  .toolbarbutton-icon,
  #nav-bar #back-button .toolbarbutton-icon,
  #context-back .menu-iconic-icon,
  #nav-bar #forward-button .toolbarbutton-icon,
  #context-forward .menu-iconic-icon,
  #PanelUI-menu-button .toolbarbutton-icon,
  #new-tab-button .toolbarbutton-icon,
  #home-button .toolbarbutton-icon,
  #preferences-button .toolbarbutton-icon,
  #fullscreen-button .toolbarbutton-icon,
  #appMenu-fullscreen-button .toolbarbutton-icon,
  #zoom-out-button .toolbarbutton-icon,
  #appMenu-zoomReduce-button .toolbarbutton-icon,
  #zoom-in-button .toolbarbutton-icon,
  #appMenu-zoomEnlarge-button .toolbarbutton-icon,
  #developer-button .toolbarbutton-icon,
  #email-link-button .toolbarbutton-icon,
  #print-button .toolbarbutton-icon,
  #add-ons-button .toolbarbutton-icon,
  #find-button .toolbarbutton-icon,
  #new-window-button .toolbarbutton-icon,
  #history-panelmenu .toolbarbutton-icon,
  #alltabs-button .toolbarbutton-icon,
  #cut-button .toolbarbutton-icon,
  #appMenu-cut-button .toolbarbutton-icon,
  #copy-button .toolbarbutton-icon,
  #appMenu-copy-button .toolbarbutton-icon,
  #paste-button .toolbarbutton-icon,
  #appMenu-paste-button .toolbarbutton-icon,
  #nav-bar-overflow-button .toolbarbutton-icon {
    filter: invert(100%) brightness(200%);
  }
  treechildren::-moz-tree-twisty {
    list-style-image: url("./theme/icons/pan-down-symbolic-light.svg") !important;
  }
  treechildren::-moz-tree-twisty(open) {
    list-style-image: url("./theme/icons/pan-end-symbolic-light.svg") !important;
  }
}
@namespace xul 'http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul';
:root {
  --sweet-convert-icon-to-symbolic-hack-filter: invert(100%) sepia(100%) grayscale(100%) brightness(200%) brightness(85%) invert(100%);
}
@media (prefers-color-scheme: dark) {
  :root {
    --sweet-convert-icon-to-symbolic-hack-filter: invert(100%) sepia(100%) grayscale(100%) brightness(200%) brightness(85%);
  }
}
tab .tab-icon-image {
  filter: var(--sweet-convert-icon-to-symbolic-hack-filter);
}
#urlbar[pageproxystate="valid"] > #identity-box.verifiedDomain > #connection-icon,
#urlbar[pageproxystate="valid"] > #identity-box.verifiedIdentity > #connection-icon,
#urlbar[pageproxystate="valid"] > #identity-box.mixedActiveBlocked > #connection-icon {
  display: none !important;
}
.identity-popup-connection-secure,
#tracking-not-detected,
#identity-popup-permission-empty-hint {
  display: none !important;
}
* {
  font-family: 'Inter v', sans-serif;
}
:root {
  --space-above-tabbar: 0 !important;
}
#sidebar-box .sidebar-panel {
  background: var(--sweet-sidebar-background) !important;
}
#sidebar-box .sidebar-panel:-moz-window-inactive {
  background: var(--sweet-inactive-sidebar-background) !important;
}
#sidebar-box .sidebar-panel:-moz-window-inactive label,
#sidebar-box .sidebar-panel:-moz-window-inactive image {
  opacity: 0.7 !important;
}
#sidebar-splitter {
  width: 1px !important;
  border: 0 !important;
  background: var(--sweet-toolbar-border-color) !important;
}
#sidebar-splitter:-moz-window-inactive {
  background: var(--sweet-inactive-toolbar-border-color) !important;
}
#sidebar-header {
  padding: 6px !important;
  border: 1px solid var(--sweet-toolbar-border-color) !important;
}
#sidebar-search-container {
  padding: 6px !important;
}
@media (-moz-gtk-csd-reversed-placement) and (-moz-gtk-csd-minimize-button), (-moz-gtk-csd-reversed-placement) and (-moz-gtk-csd-maximize-button), (-moz-gtk-csd-reversed-placement) and (-moz-gtk-csd-close-button) {
  :root[tabsintitlebar]:not([inFullscreen]) #nav-bar {
    padding-left: 50px !important;
  }
}
@media (-moz-gtk-csd-reversed-placement) and (-moz-gtk-csd-minimize-button) and (-moz-gtk-csd-maximize-button), (-moz-gtk-csd-reversed-placement) and (-moz-gtk-csd-minimize-button) and (-moz-gtk-csd-close-button), (-moz-gtk-csd-reversed-placement) and (-moz-gtk-csd-maximize-button) and (-moz-gtk-csd-close-button) {
  :root[tabsintitlebar]:not([inFullscreen]) #nav-bar {
    padding-left: 90px !important;
  }
}
@media (-moz-gtk-csd-reversed-placement) and (-moz-gtk-csd-minimize-button) and (-moz-gtk-csd-maximize-button) and (-moz-gtk-csd-close-button) {
  :root[tabsintitlebar]:not([inFullscreen]) #nav-bar {
    padding-left: 90px !important;
  }
}
