:root[privatebrowsingmode='temporary'] #nav-bar
	overflow hidden

	toolbarspring:first-of-type:before
		background icon('user-not-tracked') no-repeat
		background-size contain
		content ''
		display block
		o 0.3
		position absolute
		s 64px
		top 0
		transform translate(15px, 0)

		@media (prefers-color-scheme: dark)
			filter invert(100%)

#TabsToolbar .private-browsing-indicator
	display none i
