/* Tabs bar */
@namespace xul 'http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul'

/* Tabs bar height */
#tabbrowser-tabs, #tabbrowser-tabs arrowscrollbox {
  min-height initial i
  height initial i
}

/* Remove hover effects on tab bar buttons */
#TabsToolbar {
  padding 0 3px i
  --toolbarbutton-active-background transparent i
  --toolbarbutton-hover-background transparent i

  .toolbar-items {
    margin-bottom -1px i
  }

  /* New hover effect */
  toolbarbutton {
    fill-opacity 0.6 i

    &:not([disabled]):hover, #TabsToolbar toolbarbutton[open="true"] {
      fill-opacity 1 i
    }
  }
}

/* Remove shadow next to tab scroll buttons */
{selector('.arrowscrollbox-overflow-', '&start, &end', '&-indicator')} {
  display none
}

/* Remove tab separators */
.tabbrowser-tab {
  &::after, &::before {
    border-color transparent i
    border-image none i
  }

  /* Space between tabs */
  &:not([pinned='true']) {
    m 0 4px

    /* Extra margin for the first and last tabs */
    &[first-tab] {
      ml 8px
    }

    &[last-tab] {
      mr 8px
    }
  }
}

/* Tab labels */
tab {
  color v(tabbar-tab-color) i
  font-weight bold
  font-size 1em
  font-family Cantarell, inherit

  & > stack {
    min-height 30px i
    height 30px i
  }

  &:hover {
    color v(tabbar-tab-hover-color) i
  }

  &[selected] {
    color v(tabbar-tab-active-color) i

    &:-moz-window-inactive {
      color v(inactive-tabbar-tab-active-color) i
    }
  }

  &:-moz-window-inactive {
    color v(inactive-tabbar-tab-color) i
  }
}

/* Center all inside tab */
.tab-content {
  display flex
  justify-content center
  align-items center
  min-width 100% i
  mt -1px
  p 0 10px
}

/* Prevent tab icons size breaking */
.tab-icon-image, .tab-icon-sound, .tab-throbber, .tab-throbber-fallback, .tab-close-button {
  min-width 16px
}

/* Hide close button */
.tab-close-button {
  o 0
}

/* Adjust tab label width */
.tab-label-container {
  min-width 0 i
}

/* Put tab close button and icon sound to the right */
{selector('.tab-icon-sound', '&[soundplaying="true"], &[muted="true"], &[activemedia-blocked="true"]')} {
  ml auto
}

.tabbrowser-tab:not([soundplaying]):not([muted]):not([activemedia-blocked]) {
  .tab-close-button {
    ml auto i
  }

  .tab-icon-sound {
    mr 6px
  }

  /* Force tab favicon to the center */
  .tabbrowser-tab:not([class*='identity-color-']) .tab-throbber, .tabbrowser-tab:not([class*='identity-color-']) .tab-throbber-fallback {
    ml auto
  }

  .tabbrowser-tab:not([busy]):not([class*='identity-color-']) .tab-icon-image {
    ml auto
  }

  /* If tab favicon is not present, force tab label to the center */
  .tabbrowser-tab .tab-label-container {
    ml 0
  }

  .tabbrowser-tab:not([image]):not([busy]):not([progress]):not([class*='identity-color-']) {
    .tab-label-container {
      ml auto
    }

    /* If tab close button is not present, don't force favicon to the center */
    #tabbrowser-tabs[closebuttons="activetab"] {
      .tabbrowser-tab:not([selected='true']), .tab-throbber, #tabbrowser-tabs[closebuttons="activetab"], .tabbrowser-tab:not([selected='true']), .tab-throbber-fallback, #tabbrowser-tabs[closebuttons="activetab"], .tabbrowser-tab:not([selected='true']):not([busy]), .tab-icon-image, #tabbrowser-tabs[closebuttons="activetab"], .tabbrowser-tab:not([selected='true']):not([image]), .tab-label-container {
        ml 0 i
      }

      :root {
        --sweet-fill-icon red i
      }

      .tab-close-button {
        box-sizing content-box /* Avoid deformation on flexbox */
        p 2px
        s 16px
        b 1px solid transparent
        r 5px
        o 0.3
        icon 'window-close-symbolic'
        ap none

        @media (prefers-color-scheme: dark) {
          icon 'window-close-symbolic-light'
        }
      }

      :root:-moz-window-inactive .tab-close-button:not(#hack) {
        o 0.18
      }

      :root:not(:-moz-window-inactive), .tab-close-button:active:not(:hover) {
        bi none
        bs none
      }

      /* Tab close button etc. positioning */
      .tab-throbber, .tab-icon-image, .tab-sharing-icon-overlay, .tab-icon-sound, .tab-close-button {
        mt 0
      }

      /* Remove blue line above tabs */
      .tab-line {
        display none
      }

      /* Active tab */
      .tab-background[selected='true'] {
        border-image none i
        bs 100% 3px
        bg v(tabbar-tab-active-border-bottom)
        b 0
      }

      .tab-background[selected='true']:-moz-window-inactive {
        border-bottom-color v(inactive-tabbar-tab-active-border-bottom-color) i
        background-color v(inactive-tabbar-tab-active-background) i
      }

      /* Tab hover */
      :root:not(:-moz-window-inactive) {
        .tab-close-button:hover {
          border 1px solid v(button-border-color)
          border-bottom-color v(button-border-accent-color)
          background-image v(button-background)
          box-shadow v(button-box-shadow)
          o 1
        }

        .tab-close-button:active {
          border-color v(button-active-border-color) i
          border-top-color v(button-active-border-accent-color) i
          border-bottom-color v(button-active-border-color) i
          background-image v(button-active-background) i
          box-shadow v(button-active-box-shadow) i
        }

        .tabbrowser-tab:hover, > .tab-stack, > .tab-background[selected='true'] {
          background-color v(tabbar-tab-active-hover-background) i
        }

        .tabbrowser-tab:hover > .tab-stack > .tab-background:not([selected='true']), #TabsToolbar[brighttext] {
          > #tabbrowser-tabs, > .tabbrowser-tab:hover, > .tab-stack, > .tab-background:not([selected='true']), #TabsToolbar[brighttext], > #tabbrowser-tabs, > .tabbrowser-tab:hover, > .tab-stack, > .tab-background, > .tab-line:not([selected='true']) {
            background-color transparent i
          }

          :root:not(:-moz-window-inactive) {
            .tabbrowser-tab:hover, > .tab-stack, > .tab-background:not([selected='true']) {
              border-bottom 3px solid v(tabbar-tab-hover-border-bottom-color) i
              border-image none i
              background-color v(tabbar-tab-hover-background) i
            }

            /* Full width tabs */
            .tabbrowser-tab:not([style^='max-width']):not([pinned]), .tabbrowser-tab[style^='max-width: 100px i;']:not([pinned]) {
              max-width 100% i
            }

            .tabbrowser-tab:not([style^='max-width']):not([pinned]):not([fadein]), .tabbrowser-tab[style^='max-width: 100px i;']:not([pinned]):not([fadein]) {
              max-width 0.1px i
            }

            /* Remove blank spaces on tabs start and end */
            #TabsToolbar .titlebar-spacer {
              display none i
            }

            /* Remove container bottom line indicator */
            .tabbrowser-tab[usercontextid] {
              > .tab-stack, > .tab-background, > .tab-bottom-line {
                display none
              }

              /* Create new container tab indicator */
              .tabbrowser-tab[class*='identity-color-'] .tab-content::before {
                display block
                margin-right 5px
                margin-left auto i
                min-width 10px
                height 10px
                border-radius 100%
                background var(--identity-tab-color)
                background-image var(--identity-icon)
                background-position center center
                background-size contain
                background-repeat no-repeat
                content ''
                -moz-context-properties fill
                fill var(--identity-icon-color)
              }

              .tabbrowser-tab[class*='identity-color-'][pinned] .tab-content::before, .tabbrowser-tab[class*='identity-color-'][image] .tab-content::before, .tabbrowser-tab[class*='identity-color-'][busy] .tab-content::before, .tabbrowser-tab[class*='identity-color-'][progress] .tab-content::before {
                position relative
                top -8px
                right -10px
                margin-right -10px
              }
            }
          }
        }
      }
    }
  }
}
