@namespace xul 'http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul';

moz-icon(x) {
  list-style-image: url('moz-icon://stock/' + x + '?size=dialog');
}

button(x) {
  .toolbarbutton-icon {
    filter: v(icons-hack-filter);
    moz-icon: x;
  }
}

/* Icons light/dark fix coloring hack filters */
:root {
  --sweet-icons-hack-filter: none;
  --sweet-window-icons-hack-filter: none;
}

@media (prefers-color-scheme: dark) {
  :root {
    --sweet-icons-hack-filter: invert(100%) sepia(100%) grayscale(100%) brightness(200%) brightness(200%);
    --sweet-window-icons-hack-filter: invert(90%);
  }
}

icons(x) {
  for k, v in x {
    #{k}-button {
      button: '{v}-symbolic';
    }
  }
}

sel(x) {
  selector('.titlebar-buttonbox', '.titlebar-{x}', '#titlebar{x}');
}

ico(x) {
  .toolbarbutton-icon {
    moz-icon: x;
  }
}

/* Window buttons */
.titlebar-buttonbox {
  margin-top: 15px;
}

:root[tabsintitlebar] #titlebar .titlebar-button .toolbarbutton-icon, :root[tabsintitlebar][inFullscreen] #window-controls toolbarbutton .toolbarbutton-icon {
  filter: var(--sweet-window-icons-hack-filter) !important;
  width: 16px;
}

:root[tabsintitlebar] #titlebar .titlebar-buttonbox .titlebar-close .toolbarbutton-icon, :root[tabsintitlebar] #titlebar #titlebar-close .toolbarbutton-icon {
  list-style-image: url('moz-icon://stock/window-close-symbolic?size=dialog') !important;
}

:root[tabsintitlebar] #titlebar .titlebar-buttonbox .titlebar-max .toolbarbutton-icon, :root[tabsintitlebar] #titlebar #titlebar-max .toolbarbutton-icon {
  list-style-image: url('moz-icon://stock/window-maximize-symbolic?size=dialog') !important;
}

:root[tabsintitlebar] #titlebar .titlebar-buttonbox .titlebar-min .toolbarbutton-icon, :root[tabsintitlebar] #titlebar #titlebar-min .toolbarbutton-icon {
  list-style-image: url('moz-icon://stock/window-minimize-symbolic?size=dialog') !important;
}

:root[tabsintitlebar][inFullscreen] #window-controls #restore-button .toolbarbutton-icon {
  list-style-image: url('moz-icon://stock/view-restore-symbolic?size=dialog') !important;
}

/* Toolbars close button */
.close-icon:not(.tab-close-button) {
  button: 'window-close-symbolic-light';
}

/* Navbar icons */
#nav-bar {
  icons({
    back: 'go-previous',
    forward: 'go-next'
  });
}

icons({
  PanelUI-menu: 'open-menu',
  new-tab: 'tab-new',
  home: 'user-home',
  preferences: 'preferences-system',
  fullscreen: 'view-fullscreen',
  zoom-out: 'zoom-out',
  zoom-in: 'zoom-in',
  developer: 'applications-engineering',
  email-link: 'mail-unread',
  print: 'printer',
  add-ons: 'application-x-addon',
  find: 'edit-find',
  new-window: 'window-new',
  alltabs: 'pan-down',
  cut: 'edit-cut',
  copy: 'edit-copy',
  paste: 'edit-paste',
  nav-bar-overflow: 'view-more-horizontal'
});

/* History button */
#history-panelmenu {
  button: 'preferences-system-time-symbolic';
}

#context- {
  &back {
    button: 'go-previous-symbolic';
  }

  &forward {
    button: 'go-next-symbolic';
  }
}

/* Main menu buttons icons */
$appMenu = {
  zoomReduce: 'zoom-out',
  zoomEnlarge: 'zoom-in',
  fullscreen: 'view-fullscreen',
  cut: 'edit-cut',
  copy: 'edit-copy',
  paste: 'edit-paste'
};

for k, v in $appMenu {
  #appMenu-{k}-button {
    button: '{v}-symbolic';
  }
}
